<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [85]:
# create empty list, name it 'a'
a = []

In [86]:
# print the value of a
print(a)

[]

In [87]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [88]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [89]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [90]:
for item in languages:
    print(item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [91]:
temp = languages[1]

Print the value of temp and type(temp)

In [92]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [93]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [94]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [105]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [106]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [107]:
colors.insert(1, 'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [108]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [109]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [110]:
colors.extend(colors2)

Print len of colors and its elements

In [111]:
print("Length of colors:", len(colors))
print("Elements in colors:")
for color in colors:
    print(color)

Length of colors: 7
Elements in colors:
Red
Orange
Blue
White
Black
Grey
Sky Blue

Sort the list and print it.

In [112]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [113]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [114]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [115]:
words_lower = [word.lower() for word in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [116]:
print('country' in words_lower)

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [117]:
words_lower.remove('the')

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [118]:
x4 = words_lower[:4]

In [119]:
print (x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [120]:
result = " ".join(x4)
print(result)

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [121]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [122]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [123]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [124]:
print (stud_grades_set)

{'F', 'B', 'C', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [125]:
print("Type of stud_grades:", type(stud_grades))
print("Elements in stud_grades:", stud_grades)
print("\nType of stud_grades_set:", type(stud_grades_set))
print("Elements in stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Elements in stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']

Type of stud_grades_set: <class 'set'>
Elements in stud_grades_set: {'F', 'B', 'C', 'A'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [126]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [127]:
stud_grades_set.add('F')
print(stud_grades_set)

{'B', 'C', 'F', 'G', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [128]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [129]:
print("Elements in stud_grades_set:", stud_grades_set)
print("Length of stud_grades_set:", len(stud_grades_set))

Elements in stud_grades_set: {'B', 'C', 'G', 'A'}
Length of stud_grades_set: 4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [130]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [131]:
print (colors)
print (fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [132]:
colors_set = set(colors)
fruits_set = set(fruits)

print("colors_set:", colors_set)
print("fruits_set:", fruits_set)

colors_set: {'red', 'blue', 'orange'}
fruits_set: {'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [133]:
union_set = colors_set.union(fruits_set)
print("Union of sets:", union_set)

Union of sets: {'red', 'blue', 'orange', 'apples', 'grapes'}

Find the intersection of both the sets

In [134]:
intersection_set = colors_set.intersection(fruits_set)

print("Intersection of sets:", intersection_set)

Intersection of sets: {'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [135]:
diff_set = fruits_set.difference(colors_set)

print("Fruits but not colors:", diff_set)

Fruits but not colors: {'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [136]:
temp = (17, 'Virat', 50.0)

Iterate through temp and print all the items in temp

In [137]:
temp = (17, 'Virat', 50.0)
for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [138]:
temp = (17, 'Virat', 50.0)
temp = (11, temp[1], temp[2])
print(temp)

(11, 'Virat', 50.0)

Set temp1 = tuple(temp)

In [139]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [140]:
temp1 = tuple(temp)
for item in temp1:
    print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [141]:
temp1 = (17, 'Virat', 50.0)
temp1[0] = 17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [142]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [143]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [144]:
city2 = ("Chennai", 30.01, 74)

Create cities which consist of city and city2

In [149]:
cities = [city, city2]

Print cities

In [153]:
print(cities)

[('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74)]

Print type of first element in cities

In [154]:
print(type(cities))

<class 'list'>

print the type of cities

In [156]:
print(type(city))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [69]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [73]:
print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [157]:
actor = d["actor"]

Print the type of actor

In [158]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [159]:
List = d["list"]

Print the type of List.

In [160]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [161]:
d1 = {'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [162]:
d.update(d1)

print d

In [163]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [164]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [165]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [166]:
for key, value in d.items():
    print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [167]:
sent = "Coronavirus Caused Lockdowns Around The World."
char_count = {}
for ch in sent:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}